@media screen and (max-width: 1200px) {
  footer {
    .image {
      .social {
        left: 0;
        right: 0;
        bottom: 100px;

        svg {
          width: 40px;
          height: 40px;
        }
      }
    }
  }
}

@media screen and (max-width: 960px) {
  footer {
    .grid {
      grid-template-columns: 68% 32%;
    }
    &:before {
      right: -200px;
      opacity: .3;
    }
    .text {
      min-width: 460px;
    }

    .logo.grid {
      grid-template-columns: 32% 60%;
    }

    .image {
      .phone:after {
        left: 50px;
      }
    }

    h2 {
      font-size: 36px;
    }

    p {
      font-size: 22px;
      max-width: 460px;
    }
  }
}