@media screen and (max-width: 1250px) {
  .advantages {
    .grid-small {
      grid-template-columns: 31% 31% 29%;
    }
  }

  .reviews {
    .item {
      iframe {
        width: 112%;
      }
    }
  }

  .team {
     .grid-small {
       grid-column-gap: 90px;
     }
  }

  footer {
    .image {
      .social {
        left: 0;
        right: 0;
        bottom: 100px;

        svg {
          width: 40px;
          height: 40px;
        }
      }
    }
  }
}

@media screen and (max-width: 1150px) {
  .reviews {
    .grid-small {
      grid-template-columns: 1fr 1fr;
    }
  }
}

@media screen and (max-width: 960px) {
  .center {
    max-width: 750px;
  }

  h2 {
    font-size: 30px;
  }

  .card-main {
    .grid {
      grid-template-columns: 1fr;
    }

    .popup-gallery {
      max-width: 100%;
    }
    .list.grid-small {
      grid-template-columns: 1fr 1fr 1fr;
    }

    .text {
      .contact {
        flex-direction: column;
      }

      .description {
        .grid {
          grid-template-columns: 118px 1fr;
        }

        .coupon {
          .coup-text {
            margin-left: -20px;
          }
        }
      }
    }
  }

  .product {
    .grid-big {
      grid-template-columns: 50% 50%;
      margin: 40px;
    }
  }

  .request {
    .text {
      padding: 30px 25px;
      background-size: contain;

      h2 {
        font-size: 27px;
      }

      .btn {
        font-size: 12px;
      }
    }
  }

  .about {
    h6 {
      font-size: 13px;
    }
    .grid {
      grid-template-columns: 44% 66%;
      grid-gap: 50px;
    }

    .special {
      width: 60px;
      height: 60px;
    }

    .aboutText {
      img {
        max-width: 100px;
      }
    }

    .rating {
      max-width: 318px;

      .confirm.flex {
        div {
          margin: 0;
        }

        .pic {
          margin-right: 10px;
        }
      }
    }
  }

  .reviews {
    .list {
      .prev{
        right: 5vw;
      }
    }

    .grid-small {
      grid-template-columns: 1fr 1fr!important;
      grid-gap: 25px;
    }

    .item:nth-child(3) {
      display: none;
    }
  }

  .advantages {
    padding: 90px 0;
    padding-bottom: 31px;
    .grid-small {
      grid-template-columns: 1fr 1fr;
    }
  }

  .team {
    .grid-small {
      grid-template-columns: 1fr 1fr;
      grid-column-gap: 10px;
    }
  }

  footer {
    padding: 40px 0;
    padding-bottom: 0;

    .grid {
      grid-template-columns: 68% 32%;
    }
    &:before {
      right: -200px;
      opacity: .2;
    }
    .text {
      min-width: 460px;
    }

    .logo.grid {
      grid-template-columns: 32% 45%;
    }

    .logo {
      position: absolute;
    }

    .image {
      .phone{
        width: 290px;

        &:after {
          left: 8vw;
          bottom: 5px;
        }
      }

      .social {
        left: 0vw;
        bottom: 12vw;
      }
    }

    .menu {
      position: absolute;
      bottom: 7vw;
    }

    .btn {
      font-size: 15px;
      padding: 13px 30px;
    }

    h2 {
      font-size: 36px;
    }

    p {
      font-size: 22px;
      max-width: 460px;
    }
  }
}

@media screen and (max-width: 700px) {
  .card-main {
    .text {
      .description {
        .coupon {
          background: url("../img/bg.png")!important;
          background-repeat: no-repeat!important;
          background-size: cover!important;
        }
      }
      .contact {
        .address,
        .phone {
          min-width: 0;
        }
      }
    }

    .list.grid-small {
      grid-template-columns: 210px 150px;
      grid-gap: 20px;
    }
  }

  .about {
    .grid {
      grid-template-columns: 1fr;
      padding: 0 25px;
    }

    .rating {
      max-width: 100%;
    }
  }

  footer {
    max-height: 100%;
    &:before {
      display: none;
    }
    .grid {
      grid-template-columns: 1fr;
    }

    .logo {
      position: relative;
    }

    .menu {
      position: relative;
      bottom: 0;
    }

    .image {
      .phone {
        width: 100%;
        &:after {
          bottom: -5vw;
          left: 25%;
        }
      }

      .social {
        bottom: 5vw;
      }
    }
  }
}

@media screen and (max-width: 550px) {
  .card-main {

  }

  .product {
    .grid-big {
      grid-template-columns: 1fr;
      margin: 0;
      margin-top: 40px;
    }
  }

  .request {
    .grid-big {
      grid-template-columns: 50% 50%;
    }

    .text {
      background: linear-gradient(94.22deg,#7002fe -.29%,#3459a2 49.14%);
    }
  }

  .about {
    .flex {
      flex-direction: column;
    }

    .rating {
      .confirm {
        .flex {
          flex-direction: row;
        }
      }
    }
  }

  .team {
    .grid-small {
      grid-template-columns: 1fr;
    }
  }

  .reviews {
    .grid-small {
      grid-template-columns: 1fr!important;
      grid-gap: 25px;
    }

    .item {
      margin: 0 30px;

      .flex {
        padding-top: 30px;
        position: relative;
        bottom: 0;
        left: 0;
        width: 100%;
      }
    }

    .list {
      .prev {
        right: 10vw;
      }
    }
  }

  .advantages {
    .grid-small {
      grid-template-columns: 1fr;
    }
  }
}