@media screen and (max-width: 1250px) {
  .advantages {
    .grid-small {
      grid-template-columns: 31% 31% 29%;
    }
  }

  .reviews {
    .item {
      iframe {
        width: 112%;
      }
    }
  }

  .team {
    .grid-small {
      grid-column-gap: 50px;
    }

    .item {
      .text {
        width: 100%;
        left: 15px;
      }
    }
  }

  footer {
    .image {
      .social {
        left: 0;
        right: 0;
        bottom: 100px;

        svg {
          width: 40px;
          height: 40px;
        }
      }
    }
  }
}

@media screen and (max-width: 1150px) {
  .reviews {
    .grid-small {
      grid-template-columns: 1fr 1fr;
    }
  }

  .team {
    .grid-small {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
}

@media screen and (max-width: 960px) {
  .center {
    max-width: 750px;
  }

  h2, .h3 {
    font-size: 36px;
  }

  .card-main {
    .grid {
      grid-template-columns: 1fr;
    }

    .popup-gallery {
      max-width: 100%;
    }
    .list.grid-small {
      grid-template-columns: 33% 30% 33%;
      grid-gap: 5px;
    }

    .contact-special {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-gap: 40px;

      .image {
        max-width: 127px;
      }

      .address,
      .phone {
        img {
          width: 58px;
          height: 58px;
          min-width: 58px;
          background: #FCFCFC;
          padding: 8px 16px;
          border-radius: 5px;
        }
        a{
          color: #000;
          line-height: 1.4;
        }
      }
    }

    .text {
      .contact {
        display: none;
      }

      .description {
        h1.h2 {
          padding-top: 0;
          font-size: 36px;
          max-width: 460px;
          line-height: 1.25;
        }
        p {
          max-width: 490px;
          padding: 10px 0 45px;
        }
        .grid {
          grid-template-columns: 96px 400px;
        }

        .coupon {
          .coup-text {
            margin-left: -20px;
          }
        }
      }
    }
  }

  .product {
    .grid-big {
      grid-template-columns: 50% 50%;
      margin: 40px;
    }
  }

  .request {
    .text {
      padding: 30px 25px;
      background-size: contain;

      h2 {
        font-size: 27px;
      }

      h3 {
        max-width: 100%;
      }

      .btn {
        font-size: 13px;
        font-family: proxima_novaregular,sans-serif;
        font-weight: 600;
      }
    }
  }

  .about {
    h6 {
      font-size: 13px;
    }

    .grid {
      grid-template-columns: 1fr;
      grid-gap: 30px;
    }

    .rait {
      .special {
        width: 70px;
        height: 70px;
        font-size: 30px!important;
      }
    }

    .aboutText {
      max-width: 500px;
      img {
        max-width: 100px;
      }
    }

    .rating {
      max-width: 560px;

      .confirm.flex {
        div {
          margin: 0;
        }

        .pic {
          margin-right: 10px;
        }
      }
    }
  }

  .reviews {
    .list {
      .prev{
        right: 5vw;
      }
    }

    .grid-small {
      grid-template-columns: 1fr 1fr!important;
      grid-gap: 25px;
    }

    .item:nth-child(3) {
      display: none;
    }
  }

  .advantages {
    padding: 90px 0;
    padding-bottom: 31px;
    .grid-small {
      grid-template-columns: 1fr 1fr;
    }
  }

  .specialOffer {
    .h4 {
      font-size: 22px;
    }
  }

  .team {
    .grid-small {
      grid-template-columns: 1fr 1fr;
      grid-column-gap: 10px;
      grid-row-gap: 30px;
    }

    .h4 {
      font-size: 30px;
    }
  }

  footer {
    padding: 40px 0;
    padding-bottom: 0;

    h5 {
      line-height: 1.25;
      font-size: 36px;
    }

    .grid {
      grid-template-columns: 68% 32%;
    }
    &:before {
      right: -200px;
      opacity: .2;
    }
    .text {
      min-width: 460px;
    }

    .logo.grid {
      grid-template-columns: 32% 45%;
    }

    .logo {
      position: absolute;
    }

    .image {
      .phone{
        width: 290px;

        &:after {
          left: 8vw;
          bottom: 5px;
        }
      }

      .social {
        left: 0vw;
        bottom: 12vw;
      }
    }

    .menu {
      position: absolute;
      bottom: 3vw;
    }

    .btn {
      font-size: 15px;
      padding: 13px 30px;
    }

    h2 {
      font-size: 36px;
    }

    p {
      font-size: 18px;
      line-height: 1.4;
      max-width: 460px;
    }
  }
}

@media screen and (max-width: 768px) {
  .card-main {
    .text {
      .description {
        .grid {
          grid-template-columns: 135px 1fr;
        }

        .coupon {
          .coup-text {
            margin-left: 0;
          }
        }
      }
    }
  }

  .product {
    .grid-big {
      margin: 40px;
      margin-left: 0;
    }
  }

  .request {
    .grid-big {
      grid-template-columns: 50% 50%;

      .btn{
        margin-left: 0;
      }
    }

    .text {
      h3 {
        font-size: 30px;
      }
    }
  }

  .team {
    .item {
      .text {
        left: 15px;
      }
    }
  }
}

@media screen and (max-width: 700px) {
  .card-main {
    .text {
      .description {
        .coupon {
          background: url("../img/bg.png")!important;
          background-repeat: no-repeat!important;
          background-size: cover!important;
        }
      }
      .contact {
        .address,
        .phone {
          min-width: 0;
        }
      }
    }

    .contact-special {
      grid-template-columns: 130px 1fr 1fr;
      grid-gap: 15px;
    }

    .list.grid-small {
      grid-template-columns: 210px 150px;
      grid-gap: 20px;
    }
  }

  .product {
    .item {
      .text {
        .pattern {
          max-width: 200px;
        }
      }
    }
  }

  .request {
    .text {
      p {
        font-size: 18px;
      }
    }
  }

  .about {
    .grid {
      grid-template-columns: 1fr;
      padding: 0 25px;
    }

    .rating {
      max-width: 100%;
    }
  }

  .team {
    .h2 {
      font-size: 30px!important;
    }
  }

  footer {
    max-height: 100%;
    &:before {
      display: none;
    }
    .grid {
      grid-template-columns: 1fr;
    }

    .logo {
      position: relative;
    }

    .logo.grid {
      grid-template-columns: 230px;
    }

    .menu {
      position: relative;
      bottom: 0;
      display: flex;
      flex-direction: initial;
      flex-flow: wrap;

      li:nth-child(1) {
        order: 1;
      }

      li:nth-child(2) {
        order: 3;
      }

      li:nth-child(3) {
        order: 2;
      }
    }

    .image {
      height: 100%;

      .phone {
        display: none;
      }

      .social {
        bottom: 20vw;
        left: 77vw;
      }
    }
  }
}

@media screen and (max-width: 570px) {
  h1.h2 {
    font-size: 26px!important;
    font-family: 'proxima_novabold', sans-serif;
  }
  .h2 {
    font-size: 26px!important;
  }
  h2, .h3, h3 {
    font-size: 26px!important;
  }

  .h4 {
    font-size: 22px!important;
  }
  .card-main {
    .popup-gallery {
      a {
        img {
          min-height: 50px;
        }
      }
    }

    .text {
      .contact {
        display: none;
      }

      .description {
        .grid {
          grid-template-columns: 1fr;
          grid-gap: 15px;
        }
        .coupon {
          position: relative;
          background: none!important;
          max-width: 323px;
          margin: 0 auto;

          &:after {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background: url("../img/svg/top.svg") no-repeat;
            z-index: -1;
          }

          .coup-text {
            transform: none;
            margin-left: 0;
            display: flex;
            align-items: center;
            justify-content: space-between;

            .h5 {
              br {
                display: none;
              }
            }
          }

          .sale {
            padding-bottom: 25px;
            p.h4 {
              font-size: 25px;
              color: #fff;

              span {
                font-size: 17px;
              }
            }
            .grid {
              grid-template-columns: 1fr!important;

              input {
                border: 1px solid #fff;
              }

              .btn {
                border: 1px solid #fff;
                width: 100%;
              }

              input:not([type=submit]), select,
              .btn {
                height: 55px;
              }
            }

            .stay {
              p {
                color: #fff;
                opacity: .7;
              }

              .h6 {
                color: #fff;
              }
            }
          }
        }

        h2 {
          padding-top: 0;
          font-size: 26px;
          line-height: 30px;
        }

        p {
          font-size: 18px;
          padding: 15px 0 30px;
        }
      }
    }

    .contact-special {
      grid-template-columns: 100px 1fr;
      grid-gap: 15px;
      .address {
        display: none;
      }
      .image {
        max-width: 100px;
      }
    }

    .list {
      .item {
        p {
          font-size: 14px;
        }

        img {
          max-width: 40px;
          max-height: 40px;
        }
      }
    }
  }

  .product {
    .grid-big {
      grid-template-columns: 1fr;
      margin: 0;
      margin-top: 40px;
    }
  }

  .request {
    .grid-big {
      grid-template-columns: 1fr;
    }

    .text {
      background: linear-gradient(94.22deg,#7002fe -.29%,#3459a2 49.14%);

      h3 {
        font-size: 22px!important;
      }
    }
  }

  .specialOffer {
    h4 {
      font-size: 24px;
    }
  }

  .about {
    .h5 {
      font-size: 16px!important;
      margin-bottom: 0;
    }

    .flex {
      p {
        font-size: 14px;
      }
    }

    .aboutText {
      img {
        max-width: 120px;
      }
    }

    .grid {
      padding: 0;
    }

    .rating {
      .confirm {
        .flex {
          flex-direction: row;
        }
      }

      .confirm.grid {
        grid-template-columns: 1fr;
      }

      .pic {
        min-width: 25px!important;
        display: flex;
        justify-content: center;
        margin-right: 10px;
      }

      .confirm.flex {
        div {
          margin-bottom: 10px;
        }

        .pic {
          max-width: 25px;
        }
      }
    }
  }

  .team {
    .grid-small {
      grid-template-columns: 1fr;
      justify-items: center;
    }

    .item {
      .text {
        left: 15px;
      }
    }
  }

  .reviews {
    .grid-small {
      grid-template-columns: 1fr!important;
      grid-gap: 25px;
    }

    .item {
      min-height: 165px;
      padding: 20px 22px 0;
      .flex {
        padding: 30px 0;
        position: relative;
        bottom: 0;
        left: 0;
        width: 100%;
      }
    }

    .list {
      .prev {
        right: 10vw;
      }
    }
  }

  .advantages {
    .grid-small {
      grid-template-columns: 1fr;
    }
  }

  footer {
    h5 {
      font-size: 30px;
    }
    .text {
      min-width: 0;
    }

    .menu {
      a {
        margin: 10px 0px;
      }
    }
  }
}

@media screen and (max-width: 460px) {
  .card-main {
    .list.grid-small {
      .flex {
        justify-content: flex-start;
      }
    }
  }

  .specialOffer {
    input {
      padding: 25px 33px;
    }

    .btn {
      min-height: 55px;
    }
  }
}

@media screen and (max-width: 400px) {
  .card-main {
    .list.grid-small {
      grid-template-columns: 50% 50%;
    }
  }

  footer {
    .image {
      .social {
        bottom: 85px;
      }
    }
  }
}